frontend/node_modules/
frontend/dist/
frontend/bindings/
.DS_Store
.task
bin/
.claude/
.serena/
build/
CLAUDE.md
.gocache/
*.exe
.claude
.cursor
.cursor/
*gitignore_*
.cache/
*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite3
__pycache__/
